/* This is a comment in CSS */

table, th, td, tr {
  font-family: fantasy;
  background-color: rgb(7, 172, 18);
  font-size: xx-large;
  border: solid;
  border-width: 10px;
  border-color: rgb(31, 19, 19);
  margin: 100px;
  margin-bottom: 10px;
  padding: 0px 10px 15px 50px;
}