img {
    border: solid;
    border-width: 10px;
    border-color: blue;
    padding: 10px;
    margin:50px;
    width:15%;
    height:auto;
}

table {
    border: solid;
    border-width: 2px;
    border-color: black;
    width:auto;
    height:auto;
    width: max-content;
}

th {
    border: solid;
    border-width: 2px;
    border-color: black;
    background-color: black;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
tr, td  {   
    border-width: 1px; 
    border-color: black;  
    border-style: dotted; 
    padding: 0px;
    margin:0px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
